.open-filter-btn{
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    position: relative;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.open-filter-btn-active{
    color: #FA541C;
}

.container-shop{
    display: flex;
    justify-content: space-between;
}

.container-filter-at-shop{
    position: absolute;
}

.container-cards{
    display: grid;
    grid-template-columns: repeat(3, 330px);
    margin-top: 100px;
    row-gap: 50px;
    width: 100%;
    justify-content: space-between;
}

.title-all-products{
    position: absolute;
    color: #032340;
    font-size: 26px;
    font-weight: 700;
    margin-top: 40px;
}