.open-filter-btn{
    background: none;
    border: none;
    color: rgb(19, 19, 19);
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    position: relative;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.open-filter-btn-active{
    color: #FA541C;
}

.container-shop{
    display: flex;
    justify-content: space-between;
}

.container-filter-at-shop{
    position: absolute;
}

.container-cards{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    margin-top: 100px;
    row-gap: 50px;
}