.container-cards-in-shop{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    row-gap: 50px;
    justify-content: space-between;
    width: 100%;
}

.container-list-prices-basket{
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: end;
    width: 50%;
}

.title-basket{
    color: #032340;
    font-size: 26px;
    font-weight: 700;
    margin-top: 50px;
}

.prices-product-basket{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #404040;
    align-items: center;
    font-weight: 700;
    height: 0;
    font-size: 18px;
}

.send-price{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #404040;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

.line-prices-list-basket{
    width: 100%;
}

.total-price-basket{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #404040;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

.btn-submit-pruches{
    display: flex;
    align-self: center;
    width: 50%;
    background-color: #FA541C;
    color: white;
    border-radius: 5px;
    padding: 7px;
    border: none;
    font-size: 17px;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.container-list-prices-and-buy-process{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
    align-items: center;
}