.container-basket{
    display: flex;
    justify-content: space-between;
}

.container-cards-in-shop{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 60%;
}

.title-basket{
    color: #032340;
    font-size: 26px;
    font-weight: 700;
}