@media only screen and (max-width: 1160px) {
    .basket-card-wraper {
        width: 330px;
    }
}

@media only screen and (max-width: 1100px) {
    .basket-card-wraper {
        width: 310px;
    }
}

@media only screen and (max-width: 1040px) {
    .basket-card-wraper {
        width: 300px;
    }

    .name-product-basket{
        padding-right: 30px;
    }

.price-product-basket{
    padding-right: 30px;
}
}

@media only screen and (max-width: 1000px) {
    .basket-card-wraper {
        width: 280px;
    }
}

@media only screen and (max-width: 950px) {
    .basket-card-wraper {
        width: 270px;
    }
}

@media only screen and (max-width: 890px) {
    .basket-card-wraper {
        width: 250px;
    }

    .name-product-basket {
        padding-right: 25px;
        font-size: 17px;
    }

    .price-product-basket {
        padding-right: 25px;
        font-size: 20px;
    }

    .size-product-basket {
        font-size: 17px;
    }

    .count-product {
        font-size: 17px;
    }
}

@media only screen and (max-width: 840px){
    .basket-card-wraper {
        width: 240px;
    }
}

@media only screen and (max-width: 800px){
    .basket-card-wraper {
        width: 220px;
    }

    .name-product-basket {
        font-size: 16px;
        padding-right: 20px;
    }

    .price-product-basket {
        font-size: 19px;
        padding-right: 20px;
    }

    .size-product-basket {
        font-size: 16px;
    }

    .count-product {
        font-size: 16px;
    }
}

@media only screen and (max-width: 750px){
    .basket-card-wraper {
        width: 300px;
    }

    .name-product-basket {
        padding-right: 35px;
    }
    
    .price-product-basket {
        padding-right: 35px;
    }
}

@media only screen and (max-width: 700px){
    .basket-card-wraper {
        width: 280px;
    }
}

@media only screen and (max-width: 640px){
    .basket-card-wraper {
        width: 260px;
    }

    .name-product-basket {
        padding-right: 25px;
    }
    
    .price-product-basket {
        padding-right: 25px;
    }
}

@media only screen and (max-width: 600px){
    .basket-card-wraper {
        width: 240px;
    }
}

@media only screen and (max-width: 540px){
    .basket-card-wraper {
        width: 210px;
    }

    .name-product-basket {
        padding-right: 15px;
    }
    
    .price-product-basket {
        padding-right: 15px;
    }
}

@media only screen and (max-width: 490px){
    .basket-card-wraper {
        width: 340px;
    }

    .name-product-basket {
        font-size: 20px;
    }

    .price-product-basket {
        font-size: 25px;
    }

    .size-product-basket{
        font-size: 20px;
    }

    .count-product{
        font-size: 20px;
    }

    .name-product-basket {
        padding-right: 40px;
    }
    
    .price-product-basket {
        padding-right: 40px;
    }
}

@media only screen and (max-width: 430px){
    .basket-card-wraper {
        width: 320px;
    }

    .name-product-basket {
        padding-right: 35px;
    }
    
    .price-product-basket {
        padding-right: 35px;
    }
}

@media only screen and (max-width: 400px){
    .basket-card-wraper {
        width: 300px;
    }

    .name-product-basket {
        padding-right: 30px;
    }
    
    .price-product-basket {
        padding-right: 30px;
    }
}