.card-basket-wrraper{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ebebeb;
    border-radius: 25px;
    padding-left: 20px;
}


.container-img-basket{
    width: 400px;
    height: 402px;
}

.img-basket{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.container-details-card-basket{
    width: 710px;
}

.title-card-basket{
    color: #000306;
    font-size: 26px;
    font-weight: 700;
    height: 30px;
}

.new-price-card-basket{
    color: #032340;
    font-size: 30px;
    font-weight: 700;
}

.last-price-card-basket{
    color: #ADADAD;
    font-size: 22px;
    text-decoration: line-through;
}

.title-size-card-basket{
    color: #000306;
    font-size: 22px;
    font-weight: 700;
    margin-top: -10px;
}

.container-sizes-card-basket{
    display: flex;
    gap: 20px;
}

.sizes-card-basket{
    background-color: #EDEDED;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    margin-top: -10px;
}

.plus-minus-card-basket{
    border: 5px;
    padding: 5px 10px;
    width: 100px;
    background-color: #FA541C;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.container-name-and-icon-delete{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-delete-card-at-basket{
    color: #032340;
    cursor: pointer;
}

.title-count-at-basket{
    background-color: white;
    border: 1px solid #FA541C;
    border-radius: 5px;
    padding: 5px;
    color: #FA541C;
    width: 160px;
    text-align: center;
}