.basket-card-wraper{
    width: 350px;
    display: flex;
    border: 1px solid rgb(226, 226, 226);
    flex-direction: column;
    border-radius: 30px;
}

.img-card-basket{
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.size-product-basket{
    color: #000306;
    font-size: 18px;
}

.count-product{
    color: #000306;
    font-size: 18px;
}

.icon-remove-product-from-basket{
    color: red;
    cursor: pointer;
}

.name-product-basket{
    color: #000306;
    font-size: 21px;
    font-weight: 700;
    padding-right: 43px;
}

.price-product-basket{
    color: #FA541C;
    font-size: 24px;
    font-weight: 700;
    margin-top: -10px;
    padding-right: 43px;
}

.container-sie-and-count-product-in-basket{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
}