@media only screen and (max-width: 1200px) {
    .container-details-card-basket {
        width: 670px;
    }
}

@media only screen and (max-width: 1160px) {
    .container-details-card-basket {
        width: 620px;
    }
}

@media only screen and (max-width: 1100px) {
    .container-details-card-basket {
        width: 570px;
    }
}

@media only screen and (max-width: 1040px) {
    .container-details-card-basket {
        width: 520px;
    }
}

@media only screen and (max-width: 1000px) {
    .container-details-card-basket {
        width: 470px;
    }
}

@media only screen and (max-width: 950px) {
    .container-details-card-basket {
        width: 420px;
    }
}

@media only screen and (max-width: 890px) {
    .container-details-card-basket {
        width: 370px;
    }
}

@media only screen and (max-width: 840px) {
    .container-img-card-basket {
        width: 350px;
    }
}

@media only screen and (max-width: 800px) {

    .title-card-basket {
        font-size: 24px;
    }

    .new-price-card-basket {
        font-size: 28px;
    }

    .last-price-card-basket {
        font-size: 20px;
    }

    .title-size-card-basket {
        font-size: 20px;
    }

    .sizes-card-basket {
        font-size: 14px;
    }

    .plus-minus-card-basket {
        font-size: 14px;
    }

    .container-img-card-basket {
        width: 310px;
    }

    .container-main-product {
        align-items: center;
    }

    .container-sizes-card-basket {
        gap: 17px;
    }
}

@media only screen and (max-width: 750px) {
    .container-details-card-basket {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .new-price-card-basket {
        margin-top: -5px;
    }

    .title-size-card-basket {
        margin-top: 10px;
    }

    .container-img-card-basket {
        width: 350px;
    }


}

@media only screen and (max-width: 700px) {
    .container-img-card-basket {
        width: 70%;
    }


}

@media only screen and (max-width: 640px) {
    .container-img-card-basket {
        width: 80%;
    }



    .container-comments-and-add-comments {
        flex-direction: column;
        gap: 60px;
    }

    .container-comments {
        width: 100%;
    }

    .container-add-comment {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .container-main-product {
        flex-direction: column;
        margin-top: 50px;
    }

    .title-card-basket {
        font-size: 26px;
    }

    .new-price-card-basket {
        font-size: 30px;
    }

    .last-price-card-basket {
        font-size: 22px;
    }

    .off-product-main-product {
        font-size: 14px;
    }

    .title-size-card-basket {
        font-size: 22px;
    }

    .sizes-card-basket {
        font-size: 15px;
    }

    .plus-minus-card-basket {
        font-size: 15px;
    }

    .btn-add-product-to-cart-main-product {
        font-size: 15px;
        height: 40px;
    }



    .text-info-product {
        font-size: 18px;
    }
}

@media only screen and (max-width: 430px) {
    .container-details-card-basket {
        width: 350px;
    }

    .title-card-basket {
        font-size: 24px;
    }

    .new-price-card-basket {
        font-size: 28px;
    }

    .last-price-card-basket {
        font-size: 20px;
    }

    .off-product-main-product {
        font-size: 13px;
    }

    .title-size-card-basket {
        font-size: 20px;
    }

    .sizes-card-basket {
        font-size: 14px;
    }

    .plus-minus-card-basket {
        font-size: 14px;
    }

    .btn-add-product-to-cart-main-product {
        font-size: 14px;
        height: 35px;
    }

    .text-info-product {
        font-size: 17px;
    }
}

@media only screen and (max-width: 400px) {
    .container-details-card-basket {
        width: 300px;
    }



    .title-card-basket {
        font-size: 23px;
    }

    .new-price-card-basket {
        font-size: 27px;
    }

    .last-price-card-basket {
        font-size: 19px;
    }

    .off-product-main-product {
        font-size: 12px;
    }

    .title-size-card-basket {
        font-size: 19px;
    }

    .sizes-card-basket {
        font-size: 13px;
    }

    .plus-minus-card-basket {
        font-size: 13px;
    }

    .btn-add-product-to-cart-main-product {
        font-size: 13px;
        height: 33px;
    }

    .text-info-product {
        font-size: 16px;
    }
}