@media only screen and (max-width: 1100px) {
    .size-product-basket {
        width: 45px;
    }

    .count-product {
        width: 80px;
    }

    .name-product-basket {
        font-size: 22px;
    }

    .price-product-basket {
        font-size: 27px;
    }
}

@media only screen and (max-width: 1040px) {
    .count-product {
        width: 75px;
    }

    .name-product-basket {
        font-size: 20px;
    }

    .price-product-basket {
        font-size: 25px;
    }
}

@media only screen and (max-width: 950px) {
    .img-card-basket {
        width: 200px;
        height: 269px;
    }

    .container-product-info-basket {
        padding: 20px 0px;
    }
}

@media only screen and (max-width: 800px) {
    .name-product-basket {
        font-size: 18px;
    }

    .price-product-basket {
        font-size: 23px;
    }

    .count-product {
        width: 70px;
        font-size: 14px;
    }

    .size-product-basket {
        font-size: 14px;
        width: 40px;
    }
}

@media only screen and (max-width: 750px) {
    .basket-card-wraper {
        width: 100%;
    }

    .name-product-basket {
        font-size: 25px;
    }

    .price-product-basket {
        font-size: 30px;
    }

    .count-product {
        width: 90px;
        font-size: 16px;
    }

    .size-product-basket {
        font-size: 16px;
        width: 50px;
    }

    .container-product-info-basket {
        padding: 0;
    }
}

@media only screen and (max-width: 600px) {

    .name-product-basket {
        font-size: 20px;
    }

    .price-product-basket {
        font-size: 25px;
    }

    .count-product {
        width: 80px;
        font-size: 15px;
    }

    .size-product-basket {
        font-size: 14px;
        width: 40px;
    }
}

@media only screen and (max-width: 490px) {
    .name-product-basket {
        font-size: 18px;
    }

    .price-product-basket {
        font-size: 23px;
    }

    .count-product {
        width: 70px;
        font-size: 14px;
    }

    .size-product-basket {
        font-size: 13px;
        width: 35px;
    }

    .img-card-basket {
        height: 230px;
    }
}

@media only screen and (max-width: 430px) {
    .img-card-basket {
        width: 150px;
    }

    .name-product-basket {
        font-size: 16px;
    }

    .price-product-basket {
        font-size: 20px;
    }

    .count-product {
        width: 65px;
        font-size: 13px;
    }

    .size-product-basket {
        font-size: 12px;
        width: 32px;
    }
}