.form-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -76px;
}

.container-img-login{
    width: 600px;
    height: 592px;
    margin-left: -66px;
}

.img-login{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(20%);
}

.container-inputs-login{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 2px solid #EDEDED;
    border-radius: 10px;
    margin-right: 60px;
}

.title-form{
    color: #121212;
    font-size: 20px;
}

.inputs-login{
    text-align: right;
    padding-right: 10px;
    height: 40px;
    color: #121212;
    font-size: 15px;
    outline: none;
    border: 1px solid #CBCBCB;
    border-radius: 5px;
    width: 70%;
}

.btn-login{
    width: 70%;
    color: white;
    border-radius: 5px;
    background-color: #FA541C;
    border: none;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
}

.text-go-to-login{
    text-align: center;
    color: #121212;
    font-size: 16px;
}

.link-go-to-sign-in{
    color: #FA541C;
    text-decoration: none;
}

.text-back-home-login{
    color: gray;
    cursor: pointer;
    transition: 0.3s;
}

.text-back-home-login:hover{
    color: #FA541C;
}

.noScroll {
    overflow-y: hidden;
}