.container-filter{
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    left: 370px;
    transition: 0.3s;
    border: 1px solid #e6e6e6;
}

.active-container-filter{
    position: relative;
    left: 0px;
}

.container-toggel-off-products-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-price-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-size-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-brand-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-filter{
    font-size: 17px;
    text-align: center;
    background-color: #FA541C;
    width: 100%;
    color: white;
    margin-top: -20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.title-toggel-off-products-filter{
    color: #000306;
    font-size: 14px;
}

.title-price-filter{
    color: #000306;
    font-size: 14px;
}

.title-size-filter{
    color: #000306;
    font-size: 14px;
}

.title-brand-filter{
    color: #000306;
    font-size: 14px;
}

.input-price-filter{
    background-color: #EDEDED;
    width: 200px;
    border: none;
    border-radius: 7px;
    padding: 5px;
    padding-right: 10px;
    outline: none;
    color: #000306;
}

.input-brand-filter{
    background-color: #EDEDED;
    width: 200px;
    border: none;
    border-radius: 7px;
    padding: 5px;
    padding-right: 10px;
    outline: none;
    color: #000306;
}

.container-btns-sizes{
    width: 200px;
    display: grid;
    grid-template-columns: repeat(5, 35px);
    justify-content: space-between;
}

.btns-size-filter{
    color: gray;
    background-color: #EDEDED;
    border-radius: 5px;
    border: 1px solid #EDEDED;
    width: 35px;
    cursor: pointer;
}

.btns-size-filter-active{
    transform: translateY(-3px);
    color: #FA541C;
    background-color: white;
    border: 1px solid #FA541C;
}

.btn-submit-filter{
    border: none;
    width: 100%;
    background-color: #FA541C;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
}

.container-brand-product-filter{
    display: flex;
    gap: 5px;
}

.btns-brand-filter{
    color: grey;
    background-color: #EDEDED;
    border-radius: 5px;
    border: 1px solid #EDEDED;
    width: 50px;
    cursor: pointer;
    padding: 3px 0;
}

.btns-brand-filter-active{
    transform: translateY(-3px);
    color: #FA541C;
    background-color: white;
    border: 1px solid #FA541C;
}