.container-filter{
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    left: 370px;
    transition: 0.3s;
}

.container-filter-active{
    background-color: #FA541C;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    left: 0px;
    transition: 0.3s;
}

.container-title-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-toggel-off-products-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-price-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-size-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-brand-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-filter{
    color: white;
    font-size: 16px;
}

.title-toggel-off-products-filter{
    color: white;
    font-size: 14px;
}

.title-price-filter{
    color: white;
    font-size: 14px;
}

.title-size-filter{
    color: white;
    font-size: 14px;
}

.title-brand-filter{
    color: white;
    font-size: 14px;
}

.remove-all-filter-btn{
    border: none;
    background: none;
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.remove-all-filter-btn:hover{
    color: #EDEDED;
}

.input-price-filter{
    background-color: white;
    width: 200px;
    border: none;
    border-radius: 7px;
    padding: 5px;
    padding-right: 10px;
    outline: none;
    color: #FA541C;
}

.input-brand-filter{
    background-color: white;
    width: 200px;
    border: none;
    border-radius: 7px;
    padding: 5px;
    padding-right: 10px;
    outline: none;
    color: #FA541C;
}

.container-btns-sizes{
    width: 200px;
    display: grid;
    grid-template-columns: repeat(5, 35px);
    justify-content: space-between;
}

.btns-size-filter{
    color: #FA541C;
    background-color: white;
    border-radius: 5px;
    border: none;
    width: 35px;
    cursor: pointer;
}

.btns-size-filter-active{
    transform: translateY(-3px);
    border: none;
    width: 35px;
    cursor: pointer;
}