.container-invoice{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    justify-content: space-between;
    row-gap: 50px;
}

.title-invoice{
    color: #032340;
    font-size: 26px;
    font-weight: 700;
}

.contaienr-user-address{
    margin-top: 100px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 85%;
    justify-self: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
}

.img-map{
    object-fit: cover;
    border-radius: 10px;
}

.title-user-address{
    color: #032340;
    font-size: 26px;
    font-weight: 700;
    margin-top: 0;
    width: 100%;
}

.main-address{
    color: black;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0%;
}

.users-city{
    color: #606060;
    font-size: 16px;
    margin-bottom: 0%;
}

.users-phone-number{
    color: #606060;
    font-size: 16px;
    margin-bottom: 0%;
}

.users-name{
    color: #606060;
    font-size: 16px;
    margin-bottom: 0%;
}

.container-detail-address{
    width: 58%;
}

.container-submit-buy{
    margin-top: 100px;
}

.btn-final-buy{
    border: none;
    color: white;
    background-color: #FA541C;
    padding: 5px;
    border-radius: 5px;
    font-size: 17px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 40px;
    cursor: pointer;
}