@media only screen and (max-width: 1040px){
    .btn-add-comments{
        width: 35%;
    }
}

@media only screen and (max-width: 840px){
    .btn-add-comments{
        width: 40%;
    }
}

@media only screen and (max-width: 750px){
    .comments-provider{
        padding: 5px 20px;
    }
}