.container-main-product{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.container-img-main-product{
    width: 400px;
}

.img-main-product{
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container-details-main-product{
    width: 710px;
}

.title-product-main-product{
    color: #000306;
    font-size: 26px;
    font-weight: 700;
}

.new-price-product-main-product{
    color: #032340;
    font-size: 30px;
    font-weight: 700;
}

.container-off-last-price-main-product{
    display: flex;
    width: 23.5%;
    justify-content: space-between;
    align-items: center;
    margin-top: -40px;
}

.last-price-product-main-product{
    color: #ADADAD;
    font-size: 22px;
    text-decoration: line-through;
}

.off-product-main-product{
    font-size: 14px;
    color: white;
    background-color: #FA541C;
    padding-top: 2px;
    border-radius: 5px;
    width: 50px;
    text-align: center;
}

.title-size-main-product{
    color: #000306;
    font-size: 22px;
    font-weight: 700;
    margin-top: -10px;
}

.container-sizes-main-product{
    display: flex;
    gap: 20px;
}

.sizes-main-product{
    background-color: #EDEDED;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    margin-top: -10px;
}

.container-add-and-remove-product{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
}

.plus-minus-product-main-product{
    border: 5px;
    padding: 5px 10px;
    width: 100px;
    background-color: #FA541C;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.btn-add-product-to-cart-main-product{
    background-color: #FA541C;
    color: white;
    border-radius: 5px;
    width: 200px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    height: 40px;
    cursor: pointer;
}

.icon-like-product{
    color: gray;
    cursor: pointer;
    transition: 0.2s;
}

.like-active {
    color: red;
}

.container-product-info{
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 100px;
    border: 1px solid gray;
    text-align: center;
}

.text-info-product{
    color: gray;
    font-size: 20px;
    width: 100%;
}

.btn-show-more-less-text-product-info{
    border: 1px solid #FA541C;
    border-radius: 5px;
    padding: 5px 10px;
    background: none;
    color: #FA541C;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.container-comments-and-add-comments{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-comments{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;
}

.container-add-comment{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.title-add-comment{
    color: #000306;
    font-size: 18px;
    font-weight: 700;
}

.inputs-add-comment{
    border: 1px solid #ADADAD;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 17px;
}

.inputs-add-comment-big{
    border: 1px solid #ADADAD;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 17px;
    padding-bottom: 120px;
}

.btn-add-comments{
    border: 2px solid #FA541C;
    border-radius: 5px;
    color: #FA541C;
    padding: 5px;
    cursor: pointer;
    width: 30%;
    font-size: 17px;
    transition: 0.2s;
    background-color: white;
}

.btn-add-comments:hover{
    color: white;
    background-color: #FA541C;
    transform: translateY(-3px);
}