.container-card-shop {
    width: 330px;
    background-color: #F9F9F9;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.img-card-shop {
    width: 100%;
}

.title-card-shop {
    color: #01070D;
    font-size: 18px;
    padding-right: 10px;
}

.size-card-shop {
    color: #01070D;
    font-size: 14px;
    padding-right: 10px;
    margin-top: -5px;
}

.price-card-shop {
    color: #01070D;
    font-size: 16px;
    padding-right: 10px;
    margin-top: -5px;
}

.colors-card-shop {
    padding-right: 10px;
    margin-top: -5px;
}

.btn-submit-card-shop{
    border: none;
    background-color: #FA541C;
    width: 100%;
    padding: 5px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}