.container-box-invoice{
    width: 350px;
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-left: 30px;
}

.img-product-invoice{
    width: 100px;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.name-product-in-invoice{
    color: #404040;
    font-size: 16px;
    font-weight: 700;
}

.container-detailes-product-in-invoice{
    display: flex;
    margin-top: -20px;
    justify-content: space-between;
    width: 100%;
}

.size-in-invoice{
    color: #404040;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}

.count-in-invoice{
    color: #404040;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}

.price-in-invoice{
    color: #404040;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}

.container-products-info{
    width: 100%;
}