body{
    overflow-X: hidden;
    user-select: none;
}

.container-off-bike{
    margin-top: 200px;
}

.title-off-bike{
    color: #021526;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-right: 20px;
}

.container-cards-off-bike{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    justify-content: space-between;
}

.cards-off-bike{
    width: 350px;
    background-color: white;
    border-radius: 18px;
    cursor: pointer;
    user-select: none;
    border: 1px solid #FA541C;
}

.img-off-bike-card{
    width: 100%;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.title-product-card-off-bike{
    color: #01070D;
    padding-right: 15px;
}

.price-product-card-off-bike{
    color: #000306;
    font-size: 14px;
    margin-top: -10px;
    padding-right: 15px;
}

.size-product-card-off-bike{
    color: #404040;
    font-size: 12px;
    margin-top: -10px;
    padding-right: 15px;
}

.img-color-products-off-bike{
    padding-right: 15px;
    padding-bottom: 10px;
}